.env

.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/vibestream/FileContentIndex/

.vs/VSWorkspaceState.json
.vs/vibestream/v17/DocumentLayout.json
.vs/vibestream/v17/DocumentLayout.backup.json
.vs/vibestream/v17/.wsuo

.DS_Store
.vscode/*
