media-controller {
  position: relative;
  border-radius: 2rem;
}

media-control-bar {
  --media-primary-color: var(--body-color-alt);
  --media-secondary-color: var(--first-color-alt-dark);
  --media-control-hover-background: rgb(147, 60, 16);
  position: fixed;
  width: 100%;
  /* width: 90%;
  left: 50%;
  transform: translateX(-50%); */
  z-index: var(--z-fixed);
  bottom: 5rem;
  height: 4rem;
  opacity: 1;
}

media-time-display,
media-volume-range {
  display: none;
}

media-play-button,
media-time-display,
media-mute-button,
media-text-display {
  padding: 0 0.25rem;
}

media-time-display,
media-text-display {
  font-family: var(--body-font);
  font-size: var(--tiny-font-size);
  line-height: 16px;
}

media-text-display {
  max-width: 120px;
}

@media screen and (min-width: 576px) {
  media-time-display,
  media-volume-range {
    display: var(
      --media-control-display,
      var(--media-control-bar-display, inline-flex)
    );
  }
  media-text-display {
    max-width: 200px;
  }
}

@media screen and (min-width: 767px) {
  media-control-bar {
    width: 100%;
    bottom: 0;
  }
  media-play-button,
  media-time-display,
  media-mute-button,
  media-text-display {
    padding: 0 1rem;
  }
  media-text-display {
    font-size: var(--small-font-size);
  }
  media-text-display {
    max-width: 400px;
  }
}
