img.album-banner {
  max-height: 60vh;
  width: auto;
  object-fit: cover;
  margin: auto;
  display: block;

  border-radius: 4rem;
}

h2.album-author > a {
  color: var(--first-color);
}
h2.album-author {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

body {
  overflow-x: hidden;
}
